*/.vscode/
*/__pycache__

.vscode/
__pycache__

YOLO_V1_from-scratch/data/
YOLO_V1_from-scratch/split_ratio/

YOLO_V2_from-scratch/data/
YOLO_V2_from-scratch/split_ratio/

YOLO_V1_from_scratch/data/get_data
YOLO_V2_from_scratch/data/get_data

papers/
